div#header {
  background: transparent !important;

  div#main-navigation-container {
    position: static !important;
    margin-top: 4.2rem !important;
    background: var(--primary-button-background-color) !important;
    color: var(--primary-button-text-color);

    div#main-navigation {
      div#main-menu {
        ul.main-menu-list {
          display: block;
          width: 100% !important;
          display: flex !important;

          li {
            flex: 1;

            a {
              text-shadow: none;
            }

            ul {
              padding: 1rem;
              border: none;
              background: var(--primary-button-background-color) !important;
              border-radius: 0 0 $border-radius $border-radius !important;
              color: var(--primary-text-color) !important;
              opacity: 1 !important;
              box-shadow: 0 0.5rem 1rem -0.2rem #00000049;

              li {
                border-radius: $border-radius;
                &:hover {
                  background: transparent !important;
                }
              }
            }
          }
        }
      }
    }
  }

  #top-banner-container {
    background: none;
    background: transparent !important;

    a {
      display: none;

      #top-banner {
      }
    }
    #graphic-menu {
      position: fixed !important;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 !important;
      z-index: 999;
      height: auto !important;
      box-shadow: 0 1rem 2rem -0.3rem #00000020;
      // background: var(--primary-background-color);
      background: none;
      backdrop-filter: blur(1rem);

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        max-width: 1300px;
        margin: auto;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          font-weight: bold;
          text-align: center;
          position: relative;

          a {
            font-size: 0.8rem !important;
            height: 2rem;
            background: var(--primary-button-background-color) !important;
            color: var(--primary-button-text-color) !important;
            border-radius: $border-radius;
            padding: 0.1rem 1rem !important;
            display: block;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $transition-time;

            &:hover,
            &.active-link {
              @include hoverButton();
            }

            .circle {
              display: none !important;
            }
          }

          // Notification counter
          .button.counter.blue {
            display: block;
            font-weight: bold;
            border-radius: $border-radius !important;
            padding: 0.2rem 0.6rem !important;
            font-size: 0.8rem !important;
            background: var(--primary-button-background-color-hover) !important;
            color: var(--primary-button-text-color-hover) !important;
            position: absolute;
            top: 0.3rem;
          }
        }
      }
    }
  }

  #user-section {
    position: static !important;
    font-size: 0.8rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--primary-text-color);

    //TODO display: fixed; top: 0; left: 0
    .luckyNumber {
      background: var(--accent-3);
      color: var(--primary-button-text-color);
      padding: 0.4rem;
      border-radius: $border-radius;

      // position: fixed;
      // top: 0;
      // left: 0;
      // z-index: 1000;
      // margin: 1rem;
      // display: block;

      // &::before {
      //   content: 'Szczęśliwy numerek ';
      //   color: var(--primary-text-color);
      // }

      b {
        display: relative;
        top: 0;
        right: 0;
      }
    }

    // "Historia logowań"
    .tooltip {
      display: none;
    }

    .tooltip.helper-icon {
      display: none;
    }

    b {
      .tooltip.helper-icon {
      }
    }
  }
}
