.legend {
  margin-top: 3rem;
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }
  ul {
    li {
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;

        span,
        strong,
        b {
          display: block;
          width: auto;
          padding: 0.5rem;
          margin: 0.3rem;
          border-radius: $border-radius;
          background: var(--primary-background-color) !important;
          font-weight: bold;
        }
      }
    }
  }
}
