@import '../scss/utils/mixins';
@import '../scss/utils/variables';
@import '../scss/class/themes';
@import '../scss/class/border-radius';

* {
  font-family: 'Montserrat';
  // font-size: 105%;
}

body {
  width: 300px;
  min-height: 300px;
}

.container {
  margin: auto;
  width: 300px;
}

label,
input[type='range'],
select {
  -webkit-appearance: none;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
  }
}

input[type='range'],
select,
button {
  border: none;
  height: 2rem;
  box-sizing: border-box;
  margin: 0.5rem 0 0 0;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius);
  background: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  transition: $transition-time;
  cursor: pointer;

  &:hover {
    background: var(--primary-button-background-color-hover);
    box-shadow: var(--primary-button-shadow);
    color: var(--primary-button-text-color-hover);
  }
}

button {
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  border-radius: var(--border-radius);
  background: var(--primary-button-background-color);
  outline: none;
  transition: $transition-time;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: var(--border-radius);
    background: var(--primary-button-text-color);
  }

  &::-moz-range-thumb {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: var(--border-radius);
    background: var(--primary-button-text-color);
  }

  &:hover::-webkit-slider-thumb,
  &:hover::-webkit-slider-thumb {
    background: var(--primary-button-text-color-hover);
  }
}

#status {
  font-weight: bold;
  margin-top: 0.5rem;
}

section {
  padding: 1rem;
  background: #00000008;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

//*
#colors-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .checkmark {
    height: 2rem;
    width: 2rem;
    border-radius: var(--border-radius);
    transition: $transition-time;

    &::after {
      content: '';
      position: absolute;
      transform: scale(0);
      transition: $transition-time;
    }
  }

  .color-wrapper {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;

    $icons: (
      1: #e96d71,
      2: #736efe,
      3: #28c76f,
      4: #bc78ec,
      5: #c32bac,
    );

    @each $number, $color in $icons {
      &:nth-child(#{$number}) .checkmark {
        background: $color;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked {
        ~ .checkmark {
          transform: scale(1.2);
          &:after {
            transform: scale(1);
          }
        }
      }
    }

    .checkmark:after {
      top: 0.5rem;
      left: 0.5rem;
      width: 1rem;
      height: 1rem;
      border-radius: var(--border-radius);
      background: white;
      transition: $transition-time;
    }

    &:hover {
      input {
        ~ .checkmark {
          transform: scale(1.2);
        }
      }
    }
  }
}
