.container {
  background: var(--primary-background-color);
  box-shadow: none;

  .inside {
    display: none;
  }
  .container-background {
    padding: 0 !important;
    background: var(--secondary-background-color);
    border: none;
    box-shadow: none;

    .stretch {
      td.message-folders {
        position: sticky !important;
        display: block !important;
        top: 2rem;
        margin-right: 1rem;

        .message-folders-options {
          background: var(--primary-background-color);
          margin: 1rem 0 0 0;
          border-radius: $border-radius $border-radius 0 0;
        }
        .message-folders {
          border-radius: 0 0 $border-radius $border-radius;
          padding-bottom: 1rem;
          text-transform: uppercase;
          background: var(--primary-background-color);

          .tree-last-branch,
          .tree-next-branch,
          .tree-first-branch {
            opacity: 0;
            background: none;
          }
        }
        .message-block-separator {
          display: none;
        }
        .message-labels {
          border-radius: 0 0 $border-radius $border-radius;
          padding-bottom: 1rem;
          background: var(--primary-background-color);

          .label-color {
            .color-box {
              border-radius: $border-radius;
            }
          }
          .label-name {
            a {
              color: var(--primary-text-color) !important;
            }
          }
        }

        // Padding
        .message-labels::after,
        .message-folders::after {
          content: "";
          display: block;
          height: 1rem;
        }
      }
      // /napisz-wiadomosc
      .message-recipients {
        background: var(--primary-background-color);
        border-radius: $border-radius;
        padding: 0.5rem 1rem;
      }
      // Top and bottom
      .message-button-panel {
        margin: 1rem 0;
        background: var(--primary-background-color);
        border-radius: $border-radius;
        td {
          padding: 0.5rem;
        }
      }
      .stretch {
      }
      // Main table
      .decorated.stretch {
        overflow: hidden;
        border-radius: $border-radius;
        td {
          background: var(--primary-background-color) !important;
        }
        // <thead>

        // <tbody>

        // <tfoot>
      }
      // /wiadomosci/ID
      .container-message-content {
        border: none;
        border-radius: $border-radius;
        background: var(--primary-background-color);
        color: var(--primary-text-color);
        font-size: 1rem;
      }
      .pagination {
        ul {
          li {
            margin: 0 0.8rem;
            a,
            &.active {
              display: block;
              border-radius: $border-radius;
              background: var(--primary-button-background-color);
              color: var(--primary-button-text-color);
              padding: 0.3rem;
            }
            &.active {
              user-select: none;
              cursor: not-allowed;
              color: var(--primary-button-background-color);
              background: var(--primary-button-text-color);
            }
          }
        }
      }
    }
  }
}
