form[name='PrzegladajOceny'] {
  .container {
    .fold {
      a.fold-link {
        span.fold-start {
          padding: 0 1rem !important;
        }
      }
    }

    .container-background {
      .container-icon {
        img {
          display: none;
        }
      }

      h3.center {
        display: none;
      }

      .right.screen-only {
        > table {
          background: var(--primary-background-color);
          margin: 1rem 0;
          border-radius: $border-radius;
          table.right {
            padding: 0.5rem;
          }
        }
      }

      table.decorated.stretch {
        border: none;

        td,
        th {
          background: var(--primary-background-color) !important;
        }
        > thead {
          font-weight: bold;
          span {
            border: none;
            background: var(--primary-background-color) !important;
          }
        }
        > tbody {
          > tr:last-child {
            > td:first-child {
              display: none;
            }
          }
        }
        table {
          overflow: hidden;
          background: var(--secondary-background-color) !important;
        }

        td[colspan='16'] {
          background: var(--secondary-background-color) !important;
        }

        > tbody {
          > tr {
            //   height: 5rem;
            > td > table {
              border: 2px solid var(--secondary-background-color) !important;

              table,
              tbody,
              thead,
              td,
              th,
              tr {
                border: 2px solid var(--secondary-background-color) !important;
              }
            }
          }
        }

        > tfoot {
          display: none;
        }

        .grade-box {
          color: #333333 !important;
          padding: 0.3rem;
          border-radius: $border-radius;
          font-weight: bold;
          margin: 0.3rem !important;
          a {
            color: #000000c0 !important;
          }
        }
      }

      @include legend();
    }
  }
}
