// .container-background {
//   .decorated.big.center.printable.margin-top {
//     overflow: hidden;
//     border-radius: $border-radius;
//     border: none;
//     td,
//     th {
//       border: none;
//       background: var(--primary-background-color) !important;
//     }
//     thead {
//       td {
//         font-weight: bold;
//         padding: 1rem 0;
//         font-size: 0.9rem;
//       }
//     }
//     tbody {
//       th {
//         font-weight: bold;
//       }
//     }
//   }
// }

////////////////////@at-root
div.container-background {
  table.decorated.big.center.printable.margin-top {
    font-size: 1rem;
    overflow: hidden;
    border-radius: $border-radius;

	td,
    th {
      border: none;
      background: var(--primary-background-color) !important;
    }

    thead {
      tr {
        td {
          font-weight: bold;
          padding: 1rem 0;
          font-size: 0.9rem;
          background: var(--primary-background-color) !important;
        }
      }
    }

    tbody {
      tr {
        th {
          font-weight: bold;
        }

        td {
        }
      }
    }

    tfoot {
      tr {
        td {
          background: var(--primary-background-color) !important;
        }
      }
    }
  }
}
