.container {
  margin-top: 0 !important;
  background: var(--secondary-background-color);
  box-shadow: none;

  .inside {
    display: none;
  }
  .container-background {
    padding: 0 !important;
    background: var(--secondary-background-color);
    border: none;
    box-shadow: none;

    .stretch {
      td.message-folders {
        position: sticky !important;
        display: block !important;
        top: 4rem;
        margin-right: 1rem;

        .message-folders-options {
          background: var(--primary-background-color);
          margin: 1rem 0 0 0;
          border-radius: $border-radius $border-radius 0 0;
          tbody {
            tr {
              td {
                padding: 1rem 1rem 0 1rem;
                display: block;

                a,
                input {
                  margin: 0 !important;
                  width: 100% !important;
                  .button-start {
                    width: 100% !important;
                  }
                }
              }
            }
          }
        }
        .message-folders {
          border-radius: 0 0 $border-radius $border-radius;
          padding-bottom: 1rem;
          text-transform: uppercase;
          background: var(--primary-background-color);

          .tree-last-branch,
          .tree-next-branch,
          .tree-first-branch {
            opacity: 0;
            background: none;
          }
        }
        .message-block-separator {
          display: none;
        }
        .message-labels {
          border-radius: 0 0 $border-radius $border-radius;
          padding-bottom: 1rem;
          background: var(--primary-background-color);

          .label-color {
            .color-box {
              border-radius: $border-radius;
            }
          }
          .label-name {
            a {
              color: var(--primary-text-color) !important;
            }
          }
        }

        // Padding
        .message-labels::after,
        .message-folders::after {
          content: '';
          display: block;
          height: 1rem;
        }
      }
      // /napisz-wiadomosc
      .message-recipients {
        background: var(--primary-background-color);
        border-radius: $border-radius;
        padding: 0.5rem 1rem;
      }
      // Top and bottom
      .message-button-panel {
        margin: 1rem 0;
        background: var(--primary-background-color);
        border-radius: $border-radius;
        tr {
          td {
            padding: 1rem !important;
            display: flex;
            height: auto;

            input {
              flex: 1;
              margin: 0 0.5rem;
            }
          }
        }
      }
      .stretch {
      }
      // Main table
      .decorated.stretch {
        overflow: hidden;
        border-radius: $border-radius;
        td {
          background: var(--primary-background-color) !important;
        }
        // <thead>

        // <tbody>

        // <tfoot>
      }
      // /wiadomosci/ID
      .container-message-content {
        border: none;
        border-radius: $border-radius;
        background: var(--primary-background-color);
        color: var(--primary-text-color);
        font-size: 0.9rem;
        line-height: 1.5rem;
      }

      .pagination {
        ul {
          li {
            margin: 0 0.8rem;
            border: none !important;
            background: none !important;

            &:hover {
              border: none !important;
              background: none !important;
            }

            a,
            &.active {
              font-weight: bold;
              display: block;
              border-radius: $border-radius;
              background: var(--primary-button-background-color);
              color: var(--primary-button-text-color) !important;
              padding: 0.3rem;
              transition: $transition-time;
            }

            a {
              &:hover {
                @include hoverButton();
              }
            }

            &.active {
              user-select: none;
              cursor: not-allowed;
              color: var(--primary-button-background-color) !important;
              background: var(--accent-1) !important;
            }
          }
        }
      }
    }
  }
}
