.light {
  --primary-color: #1a242d;
  --primary-background-color: #ffffff;
  --primary-text-color: #1a242d;

  --secondary-background-color: #f3f4f6;

  --primary-button-background-color: #1a242d;
  --primary-button-text-color: #f3f4f6;

  --accent-1: #ea2a56;
  --accent-2: #442643;
  --accent-3: #f5a817;
}

.dark-blue {
  --primary-color: #f3f4f6;
  --primary-background-color: #1a242d;
  --primary-text-color: #f3f4f6;

  --secondary-background-color: #0e1318;

  --primary-button-background-color: #1a242d;
  --primary-button-text-color: #f3f4f6;

  --accent-1: #ea2a56;
  --accent-2: #442643;
  --accent-3: #f5a817;
}

.dark {
  --primary-color: #f7f7f7;
  --primary-background-color: #222222;
  --primary-text-color: #f7f7f7;

  --secondary-background-color: #161616;

  --primary-button-background-color: #222222;
  --primary-button-text-color: #f7f7f7;

  --accent-1: #ea2a56;
  --accent-2: #442643;
  --accent-3: #f5a817;
}

.amoled {
  --primary-color: #f3f4f6;
  --primary-background-color: #0e1318;
  --primary-text-color: #f3f4f6;

  --secondary-background-color: #000000;

  --primary-button-background-color: #1a242d;
  --primary-button-text-color: #f3f4f6;

  --accent-1: #ea2a56;
  --accent-2: #442643;
  --accent-3: #f5a817;
}
