#page {
  * {
    font-family: 'Baloo Chettan 2' !important;
    font-size: 101%;
    color: var(--primary-text-color);
  }
}

a {
  color: var(--primary-text-color);
}

span.button-end,
span.button-start,
span.fold-end,
span.fold-start,
span.fold-end-scroll {
  font-weight: bold;
  display: none;
  text-align: center !important;
  background: none !important;
}

button,
input[type='button'],
input[type='submit'],
input[type='password'],
input[type='text'],
select,
textarea,
span.button-start,
span.fold-start {
  border: none !important;
  box-shadow: none !important;
  height: auto !important;
  padding: 0.5rem !important;
  border-radius: $border-radius !important;
  background: var(--primary-button-background-color) !important;
  color: var(--primary-button-text-color) !important;
  transition: $transition-time;
}

span.button-start,
span.fold-start {
  display: block;
  padding: 0 1rem !important;

  &:hover {
    @include hoverButton();
  }
}

button,
input[type='button'],
input[type='submit'] {
  font-weight: bold;

  &:hover {
    @include hoverButton();
  }
}
input[type='text'] {
  color: var(--primary-text-color) !important;
}
textarea {
  min-height: 15rem;
  color: var(--primary-text-color) !important;
}
span.button-start {
  display: block;
  padding: 0.2rem 1rem !important;
  width: 80px !important;
  box-sizing: border-box;
  background: var(--primary-button-background-color) !important;
  text-align: center;
}
span.fold-start {
  background: var(--primary-button-background-color) !important;
}

select {
  background: var(--secondary-background-color) !important;
  color: var(--primary-text-color) !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

table.decorated.stretch {
  td,
  th,
  tr {
    background: var(--primary-background-color);
    border: none !important;
  }
}
a {
  transition: $transition-time;
  &:hover {
    color: var(--primary-color) !important;
  }
}

body {
  background: var(--secondary-background-color) !important;
}

#body {
  margin: auto;
  max-width: 1200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

table.decorated {
  overflow: hidden;
  border-radius: $border-radius !important;
}

// Ohter
div.container-background {
  margin-top: 2rem;
  padding: 0 !important;
  background: transparent;
  border: none;
  box-shadow: none;
}

h2.inside {
  display: none;
}
